.detail-container{
  height: 100%;
  width: 100%;
  background: #e5e5e5;
  @include flexbox();
  @include flex-direction(column);
  header{
    width: 100%;
    text-align: center;
    height: .45rem;
    line-height: .45rem;
    background-color: $baseColor;
    color: #fff;
    span{
      float: left;
      margin-left: 10px;
      font-size: .32rem;
    }
  }
  .detail-box{
    width: 100%!important;
    overflow: hidden;
    @include flex(1);
    .detail-wrap{
      width: 100%;
      nav{
        width: 100%;
        height: .45rem;
        img{
          width: 100%;
          height: .45rem;
        }
      }
      section{
        width: 100%;
        background-color: #fff;
        margin: 10px 0;
        @extend %content;
      }
      .gift{
        padding: 0 .12rem;
        background: #fff;
        width: 100%;
        height: .36rem;
        margin-bottom: 10px;
        span{
          color: #f60;
          line-height: .36rem;
          font-weight: 600;
        }
      }
      .info{
        width: 100%;
        background: #fff;
        padding: .10rem;
        margin-bottom: .10rem;
        span{
          display: block;
          margin-bottom: .05rem;
          color: #282828;
          font-size: .18rem;
          line-height: 1.5;
          font-weight: 600;
        }
        b{
          font-size: .14rem;
          color: #888;
          margin-right: .08rem;
          line-height: .30rem;
        }
        em{
          font-size: .14rem;
          line-height: .30rem;
        }
        i{
          color: #34a853;
          font-size: .12rem;
        }
        strong{
          display: block;
          width: .62rem;
          height: .12rem;
          color: #34a853;
          text-align: center;
          line-height: .12rem;
          @include border(1px,#34a853);
          font-size: .10rem;
        }
      }
      .place{
         background: #fff;
         padding: .10rem;
         line-height: .24rem;
         margin-bottom: 10px;
         .ptop{
           width: 100%;
           @include border(0 0 1px 0,#ddd);
           overflow: hidden;
           b{
             float: left;
             font-size: .18rem;
             font-weight: 600;
           }
           span{
             float: right;
             color: #f60;
             font-size: .12rem;
           }
         }
         .pbottom{
           padding-top: .05rem;
           b{
             font-size: .12rem;
             color: #888;
           }
           i{
             font-size: .12rem;
           }
         }
      }
      .info-detail{
        width: 100%;
        background: #fff;
        padding: .10rem;
        margin-bottom: 10px;
        .info-detail-top{
          width: 100%;
          span{
            color: #666;
            b{
              color: #000;
              font-weight:normal;
            }
          }
        }
      }
      .work-more{
        width: 100%;
        background: #fff;
        .work-more-top{
          width: 100%;
          padding: 10px;
          @include box-sizing(border-box);
          @include flexbox();
          @include justify-content(space-between);
          @include align-items(center);
          @include border(0 0 1px 0,#e5e5e5);
          span{
            color:#34a853;
            font-weight: 500;
          }
          b{
            font-weight: 500;
            color: $baseColor;
          }
        }
        @extend %content;
      }
    }
  }
}
