@charset "utf-8";
/* CSS Document */
* {margin: 0;outline: 0;padding: 0;}
body { background:#f2f2f4;font-family: "Microsoft Yahei";font-size:14px;margin: 0;padding: 0;}
body, form, ul, ol, li, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, table, fieldset, hr, div {margin: 0;padding: 0;}
img {border: 0 none;max-width:100%;}
ul, ol, li {list-style-type: none;}
:focus { outline: none; }
a {outline: medium none;text-decoration: none;color: #000;}
a:hover {text-decoration: none;}
em {font-style: normal;}
